{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'images/logo.jpeg' %}"
      type="image/x-icon"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    <title>echo Notes</title>
  </head>
  <body class="grid-bg">

    <header id="sidebar" class="sidebar">
      <!-- <div class="sidebar-header">
        <h2 class="sidebar-title">Echo Notes</h2>
        <button id="collapsable-btn" class="collapsable-btn">◀</button>
      </div> -->

    <nav class="side-bar">
      <ul>
        <li>
          <a href="{% url 'home' %}" class="nav-link">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-house-icon lucide-house"
            >
              <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8" />
              <path
                d="M3 10a2 2 0 0 1 .709-1.528l7-6a2 2 0 0 1 2.582 0l7 6A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"
              />
            </svg>

            <span class="nav-text">Home</span>
          </a>
        </li>
        <li>
          <a href="{% url  'index' %}" class="nav-link">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-library-big-icon lucide-library-big"
            >
              <rect width="8" height="18" x="3" y="3" rx="1" />
              <path d="M7 3v18" />
              <path
                d="M20.4 18.9c.2.5-.1 1.1-.6 1.3l-1.9.7c-.5.2-1.1-.1-1.3-.6L11.1 5.1c-.2-.5.1-1.1.6-1.3l1.9-.7c.5-.2 1.1.1 1.3.6Z"
              />
            </svg>
            <span class="nav-text">All Notes</span>
          </a>
        </li>
        <li>
          <a href="{% url 'note_form' %}" class="nav-link">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-notebook-pen-icon lucide-notebook-pen"
            >
              <path
                d="M13.4 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-7.4"
              />
              <path d="M2 6h4" />
              <path d="M2 10h4" />
              <path d="M2 14h4" />
              <path d="M2 18h4" />
              <path
                d="M21.378 5.626a1 1 0 1 0-3.004-3.004l-5.01 5.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z"
              />
            </svg>
            <span class="nav-text">New note</span>
          </a>
        </li>
        <li>
          <a href="{% url 'about' %}" class="nav-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-user-icon lucide-square-user"><rect width="18" height="18" x="3" y="3" rx="2"/><circle cx="12" cy="10" r="3"/><path d="M7 21v-2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v2"/></svg>
            <span class="nav-text">about</span>
          </a>
        </li>
      </ul>
    </nav>
  </header>

    <main id="main-content" class="main-content">
      {%block content%} {%endblock%}
    </main>

    <!-- <script >
      const sidebar = document.querySelector(".sidebar")
      const mainContent = document.querySelector('.main-content')
      const toggleBtn = document.querySelector('.collapsable-btn')

      toggleBtn.addEventListener('click', ()=> {
        sidebar.classList.toggle('collapsed')
        mainContent.classList.toggle('expanded')

        toggleBtn.innerText = sidebar.classList.contains('collapsed') ? '▶' : '◀'
      console.log(toggleBtn);

      })
    </script> -->
  </body>
</html>
