{% extends 'base.html' %} {%block content%}

<a href="{% url 'note_form' %}"
  class="add-note-a" id="index-icon"><svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-file-plus-icon lucide-file-plus"
  >
    <path
      d="M6 22a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h8a2.4 2.4 0 0 1 1.704.706l3.588 3.588A2.4 2.4 0 0 1 20 8v12a2 2 0 0 1-2 2z"
    />
    <path d="M14 2v5a1 1 0 0 0 1 1h5" />
    <path d="M9 15h6" />
    <path d="M12 18v-6" /></svg
></a>

<h1 class="all-note-h1">all notes</h1>
<div class="all-notes">
  {% for note in notes %}
  <div class="note-card">
    <a href="{% url 'detail'  note.id %}">details</a>
    <h1>{{note.title}}</h1>
    <span>{{note.created_at}}</span>
  </div>
  {% endfor %}
</div>
{%endblock%}
