{% extends 'base.html' %} {%block content %}

<div class="note-form-container">
<form action="" method="post" class="note-form">
  {% csrf_token %}
  <!-- {{ form.as_p }} -->
  <input type="text" placeholder="Title...." name="title" class="note-title" {% if form.title.value %}value="{{form.title.value}}" {% endif %}/>
  <textarea
    name="note_text"
    id="note_text"
    placeholder="write your notes..."
    class="note_text"

  >{% if form.note_text.value %}{{form.note_text.value}}{% endif %}</textarea>
  <button type="submit" value="submit" class="btn-add">add</button>
</form>
</div>


{%endblock%}

